header {
  height: 94vh;
  margin-top: -3vh;
}

.view,
.carousel,
.carousel-item,
.active,
.carousel-inner {
  height: 100%;
  text-align: center;
}

.carousel-item {
  position: relative;
}

.carousel-item div {
  position: absolute;
  top: 30vh;
  left: 25%;
  height: 30%;
  width: 50%;
  list-style-type: none;
  color: #FFF;
  font-weight: 900;
}

.carousel-item:nth-child(1) {
  background-image: url("https://s3-us-west-1.amazonaws.com/hoyeung-share-files/images/general/llama_1.jpg");
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-child(2) {
  background-image: url("https://s3-us-west-1.amazonaws.com/hoyeung-share-files/images/general/llama_2.png");
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 992px) {
  header {
    height: 94vh;
    margin-top: 0;
  }
  ul li {
    display: inline;
  }
  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem;
  }
}

